body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .progress {
  display: flex;
} */

.progress .section {
  display: inline-block;
  width: 80px;
  height: 10px;
  background-color: #ccc;
  margin: 5px 1px;
  border-radius: 10px;
}

.progress .section.active {
  display: inline-block;
  width: 80px;
  height: 10px;
  background-color: #666;
  margin: 5px 1px;
  border-radius: 10px;
}